<form action="/user/authorization" method="POST">
  <h2>Create user</h2>

  <div class="input-field" style="width: 60%; height: auto;">
    <p>Login</p>
    <input type="text" name="login">

    <p>Password</p>
    <input type="password" name="password">
  </div>

  <button type="submit" class="btn">Authorization</button>
</form>