<form action="/user/profile" method="POST" , enctype="multipart/form-data">
  <h2>Create user</h2>

  <div class="input-field" style="width: 60%; height: auto;">
    <p>Name</p>
    <input type="text" name="name">

    <p>Age</p>
    <input type="text" name="age">

    <p>Email</p>
    <input type="text" name="email">

    <p>Password</p>
    <input type="password" name="password">
    <p>Photo</p>
    <input type="file" name="photo" />

  </div>

  <button type="submit" class="btn">Create</button>
</form>